/* CSS Document */
html,body{
	background-color:#000;
  	width: 100%;
	overflow:hidden;
}
body{
	margin:0px;
	padding:0px;
}

#content{
	background-color:#000;	
}
#diapo{
	position:relative;
}
#diapo .diapo{
	position:absolute;
	overflow:hidden;
}
#diapo .diapo img{
	position:absolute;
	z-index:3;
}